##############################################################
# This config file is a python script. See below for the     #
# available options. Any option may be omitted & the default #
# value will be used.                                        #
##############################################################

# The default MIDI device name. Used for things like 
# master BPM control and grid quantization control.
# Type 'midi' at the Pippi console for a list of 
# device names.
device = 'MPKmini2 MIDI 1'

# Initial master BPM
bpm = 110

# CC value to listen for BPM range
bpmcc = 127

bpmrange = (1,2)

# CC value to listen for quantization value
divcc = 126

# Divisions of the beat for quantization
divs = [1, 2, 3, 4, 8, 16]

# Initial key
key = 'c'

# Default set of ratios to construct intervals and scales
ratios = 'terry'

# Reference pitch for scale and interval calculation
a4 = 440.0
